name: CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    test:
        name: Testing on Node ${{matrix.node_version}}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                node_version: [20, 22, 24]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Use Node ${{matrix.node_version}}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node_version }}
                  cache: yarn
            - name: Install Dependencies using Yarn
              run: yarn install
            - name: Lint
              run: yarn lint
            - name: Build
              run: yarn build
            - name: Test
              run: yarn test
